body {
    background-color: #1f1e1f;
    color: white;
    /* white-space: pre-wrap; */
    font-family: monospace;
}

#list {
    background: #3a393a;
    width: 100%;
    border: 1px white solid;
    border-radius: 10px;
    padding: 4px;
    max-height: 75%;
    overflow: scroll;
}

#fileopener{
    font-size: 15px;
}

#controls{
    display: inline-flex;
    margin: 5px 5px 5px -5px;
    font-size: 15px;
}

.buttons {
    background-color: #4c4c4c;
    border-radius: 7px;
    cursor: pointer;
}

.listItemBox{
    display: block;
    margin: 10px 0px 25px 10px;
}

.controlItems {
    margin: 5px;
    padding: 10px;
}

.listnum{
    font-size: 20px;
}

.listItem {
    font-size: 23px;
    width: auto;
    height: 24px;
    padding: 10px;
    white-space: pre;
}

.buttons:hover, .listSelected {
    background-color: #6c6c6c;
}